/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Reach code */

@font-face {
	font-family: CODE;
	font-weight: bold;
	src: url("../fnt/CODE-bold.otf") format("opentype");
}

@font-face {
	font-family: Square;
	src: url("../fnt/Square.ttf") format("truetype");
}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	font-family: 'Open Sans', HelveticaNeue, Helvetica, Arial, sans-serif;
	font-weight: 100;
}

body {
	background:url('../img/bcg.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	/* M$ fix */
  	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bcg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bcg.jpg', sizingMethod='scale')";
}

#static-header {
	width: 100%;
	height: 58px;
	background-color: rgba(255,255,255,0.8);
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 2px solid rgba(255,255,255,1);
	z-index: 10;
}

#static-header .logo {
	height: 54px;
	position: fixed;
	top: 2px;
	left: 10px;
	z-index: 11;
}

#navigation {
	display: inline;
	position: absolute;
	height: 100%;
	line-height: 58px;
	right: 10px;
	color: #000;
	font-weight: 300;
	font-size: 28px;
	letter-spacing: 2px;
}

#navigation li {
	display: inline;
	margin-right: 10px;
}

#static-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.marginalisation {
	width: 100%;
	height: 100%;
	padding-top: 60px;
	max-width: 80%;
	margin-left: 10%;
	/* central alignment */
	display: table;
}

.panel {
	width: 100%;
	/* for the scrolling */
	height: 101%;
}

#one {
	background: transparent;
}

#one h1 {
	font-family: 'CODE';
	font-weight: 700;
	font-size: 56px;
	color: #fff;
	letter-spacing: 5px;
	/* central */
	display: table-cell; 
	vertical-align: middle; 
	text-align: center; 
}

#two {
	background: #871600;
}

#three {
	background: #b8e000;
}

#four {
	background: #D1573F;
}

#five {
	background: #520D00;
}

/* mobile friendly */
@media only screen and (max-width: 480px) {
	#one h1 {
		font-size: 36px;
	}

	.icon {
		font-size: 36px;
		margin-top: 11px;
	}
	.icon-c {
		display: none !important;
	}

	.icon-m {
		display: block !important;
	}
}